body {
  background-color: #a8dadc;
  color: #f1faee;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: left;
  color: #1d3557;
  font-size: large;
}

select {
  border-radius: 0.1rem;
  min-width: 0;
  width: 100%;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 0.2rem;
  display: flex;
  flex-grow: 1;
}

input {
  box-sizing: content-box;
  padding-left: 0.2rem;
  margin-right: 0.5rem;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 1.5rem;
  overflow: auto;
}

label {
  width: 100%;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
}

button {
  font-size: large;
  height: 2rem;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.addButton {
  flex-grow: 1;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tableInput {
  flex: 3;
}


.tableButton {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tableForm {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.name {
  float: right;
  font-size: 30px;
  color: #f1faee;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.titleBar {
  background-color: #1d3557;
  overflow: auto;
}

.title {
  font-size: 30px;
  float: left;
  color: #f1faee;
  z-index: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.summaryForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.summaryValue {
  font-size: larger;
  min-width: 0;
  flex: 1;
  flex-grow: 1;
  border: transparent;
  background-color: transparent;
}

.value {
  display: flex;
  flex-direction: column;
  font-size: large;
  flex: 1;
  width: 33%;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex: 1 100%;
}

@media screen and (max-width: 1400px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
  }

  .tables {
    flex-direction: row;
    overflow: auto;
  }

  .charts {
    display: flex;
    overflow: auto;
    flex-direction: column;
    min-width: 0;
    flex-grow: 1;
    flex: 1;
  }

  .chartBlock {
    background-color: #f1faee;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    flex-grow: 1;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .forms {
    flex-direction: row;
  }

  .form {
    background-color: #f1faee;
    color: #1d3557;
    border-radius: 0.25rem;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }


  .formContent {
    flex-direction: column;
    overflow: auto;
    flex-wrap: wrap;
  }

  .summaryForm {
    flex-direction: column;
    align-items: flex-start;
  }

  .tableButton {
    flex: 1;
    flex-grow: 1;
  }
}

.tables {
  background-color: #a8dadc;
  flex-grow: 1;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
}


.table {
  background-color: #f1faee;
  justify-content: flex-start;
  margin: 1rem;
  overflow: auto;
  flex-grow: 1;
  flex-wrap: wrap;
}

.charts {
  background-color: #a8dadc;
  color: #6e6b75;
  flex-grow: 1;
  flex: 1 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chartBlock {
  background-color: #f1faee;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  flex-grow: 1;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.chart {
  background-color: #f1faee;
  border-radius: 0.25rem;
}

.noData {
  text-align: center;
}

.forms {
  background-color: #a8dadc;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  flex: 1 1;
}

.form {
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 0.25rem;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  flex-wrap: wrap;
  flex-grow: 1;
}

.formContent {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
}

.simpleFormContent {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  flex-wrap: wrap;
}

.welcomePageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcomePage {
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.welcomeFormContent {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.welcomeFormInput {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.welcomePage body {
  flex-direction: column;
  flex-grow: 1;
}

.extraInfo {
  display: none;
  line-height: 30px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 50px;
}

.info:hover .extraInfo {
  display: block;
}

.info {
  font-size: 20px;
  padding-left: 1rem;
  width: 20px;
  border-radius: 15px;
  float: right;
}

.infoIcon {
  background: url('./images/help-24px.svg')
}

* {
  transition: all .2 ease;
}
/* #e63946 #f1faee #a8dadc #457b9d #1d3557 */