html {
  background-color: #a8dadc;
  color: #f1faee;
}

@media screen and (min-height: 1080px) {
  html {
    position: fixed;
    height: 100%;
    width: 100%
  }
}

h2 {
  text-align: left;
  color: #1d3557;
  font-size: large;
}

select {
  border-radius: 0.1rem;
  min-width: 0;
  width: 10rem;
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.2rem;
}

input {
  box-sizing: content-box;
  padding-left: 0.2rem;
  margin-right: 0.5rem;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: row;
  height: 1.5rem;
}

label {
  padding-right: 0.2rem;
}

button {
  font-size: large;
  width: 10%;
  height: 2rem;
  justify-content: center;
  align-items: flex-end;
}

.addButton {
  height: 2rem;
  width: 4rem;
}

.tableButton {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 4rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tableForm {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.name {
  float: right;
  font-size: 30px;
  color: #f1faee;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.titleBar {
  background-color: #1d3557;
  overflow: auto;
}

.title {
  font-size: 30px;
  float: left;
  color: #f1faee;
  z-index: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.summaryForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.summaryValue {
  font-size: larger;
  min-width: 0;
  border: transparent;
  background-color: transparent;
}

.value {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .column.content{
  flex: 1 1 auto;
}

@media screen and (max-width: 720px) {
  .tables {
    flex-direction: row;
  }

  .charts {
    flex-direction: row;
  }

  .forms {
    flex-direction: row;
  }
}

.tables {
  background-color: #a8dadc;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
}


.table {
  background-color: #f1faee;
  justify-content: flex-start;
  margin: 1rem;
  overflow: hidden;
}

.charts {
  background-color: #a8dadc;
  color: #6e6b75;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.chart {
  background-color: #f1faee;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  margin: 1rem;
}

.noData {
  text-align: center;
}

.forms {
  background-color: #a8dadc;
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.formElement {
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 0.25rem;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
}

.formContent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.welcomePage {
  display: flex;
  background-color: #a8dadc;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
/* #e63946 #f1faee #a8dadc #457b9d #1d3557 */